amanobot
bs4
colorama
requests
aioify
instantmusic
aioChatbase
aiohttp
async-generator
async-timeout
attrs
certifi
chardet
chatbase
future
hachoir3
idna
idna-ssl
multidict
python3-pkg-resources
pyasn1
python-telegram-bot
rsa
Telethon-sync
urllib3
yarl
youtube-dl
pexpect
wget
speedtest-cli
telegraph
py_translator
duckpy
python-dotenv
Pillow
gsearch
regex
urbandict
wikipedia
gtts
googletrans
zalgo_text
hastebin.py
pyfiglet
pybase64
google_images_download
rivescript
iso-639==0.4.5
ffmpeg
progressbar2
tqdm
