amanobot
bs4
colorama
requests
aioify
instantmusic
youtube-dl
pexpect
wget
speedtest-cli>=2.0.2
logger
telegraph
py_translator
duckpy
python-dotenv
Pillow
gsearch
regex
urbandict
hachoir
wikipedia
gtts
googletrans
zalgo_text
hastebin.py
pyfiglet
pybase64
google_images_download
rivescript
iso-639>=0.4.5
ffmpeg
progressbar2
tqdm
logger
tldextract
