python-telegram-bot
regex
urbandict
requests
Pillow
hachoir
cryptg
cfscrape
beautifulsoup4
gsearch
aioify
instantmusic
youtube-dl
pexpect
wget
logger
telegraph
bs4
colorama
duckpy
python-dotenv
ffmpeg
progressbar2
tqdm
